Repository ramkumar-s/whey-price-compare: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-critical-tests, npm-lint, npm-format

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -s
  - -w

go-vet:
  name: Go Vet
  entry: go
  language: system
  args:
  - vet
  - ./...
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

go-critical-tests:
  name: Go Critical Tests
  entry: go
  language: system
  args:
  - test
  - -short
  - -tags=critical
  - ./internal/...
  - ./pkg/...
  pass_filenames: false

npm-lint:
  name: NPM Lint
  entry: bash
  language: system
  args:
  - -c
  - cd web/static && npm run lint
  require_serial: true

npm-format:
  name: NPM Format Check
  entry: bash
  language: system
  args:
  - -c
  - cd web/static && npm run format:check
  require_serial: true

Add comprehensive project plan with 8 sprints and measurable outcomes
  docs/project/project_plan.md
Due: none

Add comprehensive CLAUDE.md context files for AI assistance
  .github/CLAUDE.md
  CLAUDE.md
  cmd/CLAUDE.md
  deployments/CLAUDE.md
  docs/CLAUDE.md
  tests/CLAUDE.md
Due: none

Implement comprehensive logging strategy for Claude Code integration
  CLAUDE.md
  Makefile
  cmd/CLAUDE.md
  docs/development/logging_strategy.md
  internal/testhelpers/logger.go
  tests/CLAUDE.md
Due: go-fmt, go-vet, go-critical-tests

Implement progressive CI/CD workflows aligned with sprint features
  .github/CLAUDE.md
  .github/workflows/ci-sprint-1.yml
  .github/workflows/ci-sprint-2.yml
  .github/workflows/ci-sprint-3.yml
  .github/workflows/ci-sprint-4.yml
  CLAUDE.md
Due: none

Add comprehensive testhelpers test suite for CI validation
  go.mod
  go.sum
  internal/testhelpers/logger_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-critical-tests

Fix Go code formatting for CI compliance
  internal/testhelpers/logger.go
  internal/testhelpers/logger_test.go
Due: go-fmt, go-vet, go-critical-tests

Implement cost-effective CI/CD strategy with fast GitHub Actions validation
  .github/CLAUDE.md
  .github/workflows/ci-fast.yml
  .github/workflows/ci-new.yml.disabled
  .github/workflows/ci-old.yml.disabled
  .github/workflows/ci-sprint-1.yml.disabled
  .github/workflows/ci-sprint-2.yml.disabled
  .github/workflows/ci-sprint-3.yml.disabled
  .github/workflows/ci-sprint-4.yml.disabled
  CLAUDE.md
  docs/development/cicd_strategy.md
Due: none

Fix GitHub Actions linting errors and bundle size validation script
  .github/CLAUDE.md
  .github/workflows/ci-fast.yml
  CLAUDE.md
  internal/testhelpers/logger.go
Due: go-fmt, go-vet, go-critical-tests

Fix gosec repository path in Fast CI workflow
  .github/workflows/ci-fast.yml
Due: none

Fix GitHub Actions workflow failures and upgrade Go version
  .github/CLAUDE.md
  .github/workflows/ci-fast.yml
  .github/workflows/pre-commit.yml
  CLAUDE.md
  go.mod
Due: go-mod-tidy

Fix GitGuardian false positive - sanitize documentation placeholders
  docs/deployment/deployment_guide.md
Due: none

Implement comprehensive secret leak prevention system
  .github/CLAUDE.md
  .pre-commit-config.yaml
  CLAUDE.md
  docs/CLAUDE.md
  docs/development/security_checklist.md
Due: none

Update Go version to 1.24 across entire project
  .github/CLAUDE.md
  .github/workflows/cd-production.yml
  .github/workflows/cd-staging.yml
  .github/workflows/ci-fast.yml
  .github/workflows/pre-commit.yml
  CLAUDE.md
  go.mod
  go.sum
Due: go-mod-tidy

Fix GitHub Actions workflow errors
  .github/workflows/cd-production.yml
  .github/workflows/pre-commit.yml
Due: none

Fix GitHub Actions cache conflicts causing workflow failures
  .github/workflows/ci-fast.yml
  .github/workflows/pre-commit.yml
Due: none

Prevent GitGuardian spam by replacing secret placeholders with comments
  docs/deployment/deployment_guide.md
Due: none

Force cache invalidation to fix corrupted Go module cache
  .github/workflows/ci-fast.yml
  .github/workflows/pre-commit.yml
Due: none

Fix GitHub Actions cache corruption with run-specific cache keys
  .github/workflows/ci-fast.yml
  .github/workflows/pre-commit.yml
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  go-critical-tests: any of: \.go$
  npm-lint: any of: \.(js|ts|jsx|tsx)$
  npm-format: any of: \.(js|ts|jsx|tsx|css|scss|json)$
